<%- include('templates/header'); -%>
<div class="section section-padding">
    <div class="container">
        <%# Product Details %>
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-three-quarters">
                    <div>
                        <h3 class="is-size-4 has-text-centered"><%= product.name %></h3>
                        <figure class="image is-4by3">
                            <img src="/images/<%= product.image  %>" alt="<%= product.name  %>">
                        </figure>
                        <p class="is-size-6">
                            <%- product.description %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('templates/footer'); -%>