<%- include('templates/header'); -%>
<!-- INDIVIDUAL PRODUCT PAGE -->
<div class="columns is-centered">
    <div class="column is-one-third">
        <div>
            <%# Product Details %>
            <h3 class="section is-size-3 has-text-centered has-text-weight-semibold has-text-primary">
                <%= product.name %></h3>
            <figure class="image is-4by3">
                <img src="/images/products/<%= product.image  %>" alt="<%= product.name  %>">
            </figure>
            <p class="section is-size-5">
                <%- product.description %>
            </p>
        </div>
    </div>
</div>
<%- include('templates/footer'); -%>